body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url('mosque.jpg'); /* আপনার ব্যাকগ্রাউন্ড */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 15px;
    color: white;
    max-width: 450px;
    margin: 50px auto;
    box-shadow: 0 0 10px #000;
}

h2, h3 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.row label {
    width: 60px;
}

.row input {
    width: 40%;
    padding: 5px;
    border-radius: 6px;
    border: none;
}
button {
    width: 100%;
    padding: 10px;
    background: #00ffbb;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
button:hover {
    background: #00cc99;
}

#output {
    margin-top: 20px;
    padding: 10px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}
